build/
build-*/
cmake-build-*/
dist/
scripts/.appimage_tools/
compile_commands.json
.cache/
*.user
logs/
.idea/
simulation/terrains/**/rbq_payload.xml
__pycache__/
records/
simulation/mujoco/tools/place_win
